<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use older version of Font Awesome for loading button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <title>Fashion Insight</title>
    <style type="text/css">
      body, html {
        height: 100%;
        color: #FFF;
        background-color: #1a1a1a;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
        /*font-family: 'Raleway', sans-serif;*/
        /*font-weight: 700;*/
      }
      * {
        /*border-radius: 0 !important;*/
      }
      body {
        font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
        /*color: #4d4d4d;*/
      }
      fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
      }  
      legend {
        font-size:14px;
        /*font-weight:bold;*/
        margin-bottom: 0px;
        /*width: 8%;*/
      }
      .btn-circle {
          width: 40px;
          height: 40px;
          padding: 6px 0px;
          border-radius: 50%;
          text-align: center;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 1.42857;
      }
    </style>
  </head>
  <body>
    <!-- http://astronautweb.co/snippet/font-awesome/ -->
    <!-- <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><span class="oi oi-graph" style="display:inline-block;"></span>&ensp;Fashion Insight</a>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="oi oi-person"></span></li>
      </ul>
    </nav> -->
    <!-- https://www.codeply.com/go/Rgq96HykJ2/sidebar-that-changes-to-navbar -->
    <div class="container-fluid h-100">
      <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark">
          <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
            <div class="collapse navbar-collapse">
              <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                  <a class="nav-link pl-0 text-nowrap" href="#"><i class="oi oi-graph"></i> <span class="font-weight-bold">Fashion Insight</span></a>
                </li>
                <br>
                <li class="nav-item active">
                  <a class="nav-link pl-0" href="{{url_for('main')}}"><i class="oi oi-plus"></i>&ensp;<span class="d-none d-md-inline">New analysis</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="{{url_for('get_running')}}"><i class="oi oi-loop-circular"></i>&ensp;<span class="d-none d-md-inline">Running</span>&ensp;<span class="badge badge-light">1</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="{{url_for('get_completed')}}"><i class="oi oi-check"></i>&ensp;<span class="d-none d-md-inline">Completed</span>&ensp;<span class="badge badge-light">5</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="#"><i class="oi oi-wrench"></i>&ensp;<span class="d-none d-md-inline">Settings</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="#"><i class="oi oi-account-logout"></i>&ensp;<span class="d-none d-md-inline">Logout</span></a>
                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <li class="nav-item" style="font-size: small; color: #999;">© 2018 ConscientAI Labs (Private) Limited</li>
              </ul>
            </div>
          </nav>
        </aside>
        <main class="col bg-faded py-3">
          <br>
          <h2>New analysis</h2>
          <br>
          <!-- <form> -->
          <form action = "http://localhost:5000/add" id="new-analysis" method = "POST" enctype = "multipart/form-data">
            <fieldset class="form-group">
              <legend style="width: 120px;"><span style="background-color: #1a1a1a; padding: 5px;">Instagram Pages</span></legend>
              <div class="row">
                <input name="image-source" id="image-source" type="hidden" value="instagram">
                <input name="posts-count" id="posts-count" type="hidden" value="1">
                <label for="instagram-url" class="col-sm-2 col-form-label">Brand / profile page #1</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="instagram-url" id="instagram-url" placeholder="Instagram page URL">
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-light btn-circle" style="background-color: #cccccc;"><span class="oi oi-plus" style="color: #1a1a1a"></span></button>
                </div>                
              </div>
            </fieldset>
            <br>
            <fieldset class="form-group">
              <legend style="width: 145px"><span style="background-color: #1a1a1a; padding: 5px;">Attributes to analyse</span></legend>
              <div class="row">
                <input name="image-source" id="image-source" type="hidden" value="instagram">
                <input name="posts-count" id="posts-count" type="hidden" value="6">
                <label for="instagram-url" class="col-sm-2 col-form-label">Content creator side</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">Silhouettes</label>
                </div>
                &emsp;
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">Colors</label>
                </div>
                &emsp;
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">Caption entities</label>
                </div>
              </div>
              <div class="row">
                <input name="image-source" id="image-source" type="hidden" value="instagram">
                <input name="posts-count" id="posts-count" type="hidden" value="6">
                <label for="instagram-url" class="col-sm-2 col-form-label">Consumer side</label>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                  <label class="form-check-label" for="inlineCheckbox1">Likes</label>
                </div>
                &emsp;
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">Comments</label>
                </div>
                &emsp;
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                  <label class="form-check-label" for="inlineCheckbox2">Comments sentiment</label>
                </div>
              </div>
            </fieldset>
            <br>
            <fieldset class="form-group">
              <legend style="width: 110px;"><span style="background-color: #1a1a1a; padding: 5px;">Analysis period</span></legend>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-outline-secondary active">
                  <input type="radio" name="options" value="24 hours" id="option1" autocomplete="off" checked>Last 24 hours
                </label>
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="options" value="7 days" id="option1" autocomplete="off" checked>Last 7 days
                </label>
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="options" value="30 days" id="option2" autocomplete="off">Last 30 days
                </label>
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="options" id="option3" autocomplete="off">Last 6 months
                </label>
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="options" id="option3" autocomplete="off">Last 12 months
                </label>
                <label class="btn btn-outline-secondary">
                  <input type="radio" name="options" id="option3" autocomplete="off">Custom period
                </label>
              </div>
              <br><br>
              <!----------------------------------->

              <!-- <div class="row">
                <label for="inputEmail3" class="col-sm-2 col-form-label">Page one</label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" id="inputEmail3" placeholder="Instagram page URL">
                </div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-light btn-circle" style="background-color: #cccccc;"><span class="oi oi-plus"></span></button>
                </div>                
              </div> -->

              <div class="form-row">
                <label for="analysis-period-start" class="col-md-1 col-form-label">Start date</label>
                <!-- <div class="form-group col-md-2">
                  <input type="email" class="form-control" id="analysis-period-start">
                </div> -->
                <div class="form-group col-sm-2">
                  <div class="input-group date" id="analysis-period-start" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#analysis-period-start"/>
                      <div class="input-group-append" data-target="#analysis-period-start" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                </div>
                <!-- ------------------------------- -->
                <div class="col-md-1 col-form-label"></div>
                <!-- ------------------------------- -->
                <label for="inputEmail3" class="col-md-1 col-form-label">End date</label>
                <div class="form-group col-sm-2">
                  <div class="input-group date" id="analysis-period-end" data-target-input="nearest">
                      <input type="text" class="form-control datetimepicker-input" data-target="#analysis-period-end"/>
                      <div class="input-group-append" data-target="#analysis-period-end" data-toggle="datetimepicker">
                          <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                      </div>
                  </div>
                </div>
              </div>
            </fieldset>
            <br>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="button" class="btn btn-info" id="load" style="width: 150px;">Run Analysis<span id="spin-space" style="display: none;">&ensp;</span><span id="spin" class="fa fa-spinner fa-spin" style="font-size:18px; display: none;"></span></button>
              </div>
            </div>
          </form>
          <!-- Modal -->
          <div class="modal fade" id="analysis-confirm" tabindex="-1" role="dialog" style="color: #4d4d4d;">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Confirm analysis</h5>
                </div>
                <div class="modal-body">
                  Are you sure you want to analyse <b>12</b> posts from <b>GFLOCK</b>?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button id="modal-submit" type="submit" class="btn btn-info">Confirm</button>
                </div>
              </div>
            </div>
          </div>
          <!-- <footer class="footer" style="position: absolute; bottom: 0; background-color: #F00">
            <div class="container">
              <span class="text-muted"><small>© 2018 ConscientAI Labs</small></span>
            </div>
          </footer> -->
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="static/js/index.js"></script>
    <script type="text/javascript">
    // Date picker scripts
      $(function () {
        $('#analysis-period-end').datetimepicker({
          format: 'll',
          maxDate: moment(moment().toDate()) // Set today as the max date
        });
        $('#analysis-period-start').datetimepicker({
          format: 'll',
          maxDate: moment(moment().subtract(1, 'd').toDate()) // Set 1 day before today as the max date
        });
      });
    </script>
    <script>
      //console.log($('input[name=options]:checked').val());

      $('#load').on('click', function() {
        $("#spin, #spin-space").show();
        $(this).prop("disabled", true);
        setTimeout(function(){
          $("#spin, #spin-space").hide();
          $("#analysis-confirm").modal();
        }, 2); // 2000
        $('#modal-submit').click(function(){
          /* when the submit button in the modal is clicked, submit the form */
          $('#new-analysis').submit();
          /*setTimeout(function(){
            window.location.href='running.html';
          }, 2000);*/
        });
      });

      // https://jsfiddle.net/5Lcspc1m/1/
      /*window.app = new Vue({
        el: "#image-upload",
        data: {
          file: null
        },
        computed: {
          showAlert() {
            return this.name.length > 4 ? true : false;
          }
        }
      })*/
      // Change inputs on source select
      $(function() {
        $('#image-source').change(function() {
          if ($('#image-source').val() == 'images') {
            $('#image-upload').show();
            $('#instagram-url').hide();
          } else {
            $('#instagram-url').show();
            $('#image-upload').hide();
          }
        });
      });
    </script>
  </body>
</html>
