<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use older version of Font Awesome for loading button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.css">
    <link rel="stylesheet" href="../static/css/jqcloud.min.css">
    <title>Fashion Insight</title>
    <style type="text/css">
      body, html {
        /*height: 100%;*/
        /*color: #FFF;
        background-color: #1a1a1a;*/
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
        /*font-family: 'Raleway', sans-serif;*/
        /*font-weight: 700;*/
      }
      * {
        /*border-radius: 0 !important;*/
      }
      body {
        font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
        /*color: #4d4d4d;*/
      }
      fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
      }  
      legend {
        font-size:14px;
        /*font-weight:bold;*/
        margin-bottom: 0px;
        width: 8%;
      }
      .btn-circle {
          width: 40px;
          height: 40px;
          padding: 6px 0px;
          border-radius: 50%;
          text-align: center;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 1.42857;
      }
    </style>
    <style>
      * {
      /*border-radius: 0 !important;*/
      }
      body {
      font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
      color: #4d4d4d;
      }
      svg {
      display: block;
      float: left;
      }
      .nvd3.nv-pie.nv-chart-donut-chart .nv-pie-title {
      fill: rgba(140, 140, 140, 1.0);
      }
      /*Hide grid lines of line chart*/
      .tick line {
        display: none;
      }
    </style>
    <style type="text/css">
      @-webkit-keyframes chartjs-render-animation {
        from {
          opacity: 0.99
        }
        to {
          opacity: 1
        }
      }
      @keyframes chartjs-render-animation {
        from {
          opacity: 0.99
        }
        to {
          opacity: 1
        }
      }
      .chartjs-render-monitor {
        -webkit-animation: chartjs-render-animation 0.001s;
        animation: chartjs-render-animation 0.001s;
      }
      canvas {
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
      }
    </style>
  </head>
  <body>
    <!-- http://astronautweb.co/snippet/font-awesome/ -->
    <!-- <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><span class="oi oi-graph" style="display:inline-block;"></span>&ensp;Fashion Insight</a>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="oi oi-person"></span></li>
      </ul>
    </nav> -->
    <!-- https://www.codeply.com/go/Rgq96HykJ2/sidebar-that-changes-to-navbar -->
    <div class="container-fluid h-100">
      <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark">
          <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start sticky-top py-2">
            <div class="collapse navbar-collapse">
              <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                  <a class="nav-link pl-0 text-nowrap" href="#"><i class="oi oi-graph"></i> <span class="font-weight-bold">Fashion Insight</span></a>
                </li>
                <br>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="{{url_for('main')}}"><i class="oi oi-plus"></i>&ensp;<span class="d-none d-md-inline">New analysis</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="{{url_for('get_running')}}"><i class="oi oi-loop-circular"></i>&ensp;<span class="d-none d-md-inline">Running</span>&ensp;<span class="badge badge-light">2</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link pl-0" href="{{url_for('get_completed')}}"><i class="oi oi-check"></i>&ensp;<span class="d-none d-md-inline">Completed</span>&ensp;<span class="badge badge-light">5</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="#"><i class="oi oi-wrench"></i>&ensp;<span class="d-none d-md-inline">Settings</span></a>
                </li>                
                <li class="nav-item">
                  <a class="nav-link pl-0" href="#"><i class="oi oi-account-logout"></i>&ensp;<span class="d-none d-md-inline">Logout</span></a>
                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <li class="nav-item" style="font-size: small; color: #999;">© 2018 ConscientAI Labs (Private) Limited</li>
              </ul>
            </div>
          </nav>
        </aside>
        <main class="col bg-faded py-3">
          <br>
          <h2>Completed > Analysis 20181008_140915</h2>
          <hr>
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <h4>Dress colors</h4>
                <svg id="agg-color-chart" style="height:400px"></svg>
              </div>
              <div class="col">
                <h4>Dress items</h4>
                <svg id="agg-dress-chart" style="height:400px"></svg>
              </div>
              <div class="col">
                <h4>Caption word cloud</h4>
                <div id="word-cloud" style="height: 80%; width: 100%;"></div>
              </div>
              <div class="col">
                <h4>Comment sentiment</h4>
                <svg id="sentiment-chart" style="height:400px"></svg>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col text-center">
                <h4 class="text-left">Total impressions</h4>
                <span class="fa fa-heart" style="font-size:4vw; color: #FF6666; display:inline-block; margin-top:5vh;"></span>&emsp;&emsp;<h1 id="likes-count" style="font-size:4vw; color: #CCCCCC; display:inline-block;">0</h1>
                <br><br>
                <span class="fa fa-comment" style="font-size:4vw; color: #999999; display:inline-block;"></span>&emsp;&emsp;<h1 id="comments-count" style="font-size:4vw; color: #CCCCCC; display:inline-block;">0</h1>
              </div>
              <div class="col">
                <h4>Likes over time</h4>
                <!-- <svg id="line-chart" style="height:400px"></svg> -->
                <canvas id="likes-var-chart" class="chartjs-render-monitor" style="display: block;"></canvas>
              </div>
              <div class="col">
                <h4>Comments over time</h4>
                <!-- <svg id="line-chart" style="height:400px"></svg> -->
                <canvas id="comments-var-chart" class="chartjs-render-monitor" style="display: block;"></canvas>
              </div>
            </div>
            <br>
          </div>

        </main>
      </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nvd3/1.8.6/nv.d3.min.js"></script>
    <script src="../static/js/jqcloud.min.js"></script>
    <!-- Chart.js -->
    <script src="../static/js/analytics.js"></script>
    <script src="../static/js/moment.min.js"></script>
    <script src="../static/js/Chart.js"></script>
    <script src="../static/js/utils.js"></script>
    <script>
      function drawPieChart(title, data, div, labelType) {
        var chart;
        nv.addGraph(function() {
          var chart = nv.models.pieChart()
            .x(function(d) {
              return d.key
            })
            .y(function(d) {
              return d.y
            })
            .donut(true)
            .labelType(labelType) // Accepted values: percent, value, key
            //.showLabels(true)
            .showLegend(false)
            .donutRatio(0.4)
            //.growOnHover(false)
            .showTooltipPercent(true)
            .id('donut-chart'); // allow custom CSS for this one svg
          // https://stackoverflow.com/a/35626055
          var $container = $('#chart'),
            width = $container.width(),
            height = $container.height();
      
          chart.title(title);
          chart.pie.labelsOutside(true).donut(true);
          chart.pie.margin({top: 0, right: 0, bottom: 0, left: 0});
      
          d3.select(div)
            .datum(data)
            .transition().duration(1200)
            .call(chart);
          // https://stackoverflow.com/a/35626055
          nv.utils.windowResize(chart.update);
      
          return chart;
        });
      }

      // https://stackoverflow.com/a/8690202
      $.ajaxSetup({
        cache: false
      });
      
      $(document).ready(function() {
        var analysis_id = window.location.pathname.split("/").pop();
        console.log(analysis_id);

        $.getJSON("../static/images/uploads/"+analysis_id+"/report.json", function(result) {

          like_array = []
          comment_array = []
          timestamp_array = []
          // Sort JSON by timestamp.
          result.color_info = result.color_info.sort((function (a, b) { return new Date(b.timestamp) - new Date(a.timestamp) }));

          $.each(result.color_info, function(i, item) {

            var date_timestamp = new Date(item.timestamp*1000);
            var year = date_timestamp.getFullYear();
            var month = date_timestamp.getMonth();
            var date = date_timestamp.getDate();

            var time_timestamp = new Date(item.timestamp*1000);
            var hours = time_timestamp.getHours();
            var minutes = time_timestamp.getMinutes();
            var seconds = time_timestamp.getSeconds();

            var formattedTime = month + '/' + date + '/' + year + ' ' + hours + ':' + minutes + ':' + seconds;

            timestamp_array.push(formattedTime);
            like_array.push(item.likes_count);
            comment_array.push(item.comments_count);
          });

          var timeFormat = 'MM/DD/YYYY HH:mm:ss';

          var likes_config = {
            type: 'line',
            data: {
              labels: timestamp_array,
              datasets: [{
                type: 'line',
                label: 'Likes',
                backgroundColor: 'rgba(255, 102, 102, 0.3)',
                borderColor: '#FF6666',
                fill: true,
                lineTension: 0,
                data: like_array,
              }]
            },
            options: {
              legend: {
                display: false
              },
              scales: {
                xAxes: [{
                  type: 'time',
                  display: true,
                  time: {
                    parser: timeFormat,
                    unit: 'day'
                  }
                }],
              },
            }
          };
          var likes_ctx = document.getElementById('likes-var-chart').getContext('2d');
          window.myLine = new Chart(likes_ctx, likes_config);

          var comments_config = {
            type: 'line',
            data: {
              labels: timestamp_array,
              datasets: [{
                type: 'line',
                label: 'Comments',
                backgroundColor: 'rgba(153, 153, 153, 0.3)',
                borderColor: '#999999',
                fill: true,
                lineTension: 0,
                data: comment_array,
              }]
            },
            options: {
              legend: {
                display: false
              },
              scales: {
                xAxes: [{
                  type: 'time',
                  display: true,
                  time: {
                    parser: timeFormat,
                    unit: 'day'
                  }
                }],
              },
            }
          };
          var comments_ctx = document.getElementById('comments-var-chart').getContext('2d');
          window.myLine = new Chart(comments_ctx, comments_config);

          // Data array for color chart
          var agg_color_data = [];
          // Data array for silhouette chart
          // Colors pallet source https://bl.ocks.org/mbostock/5577023
          var agg_dress_data = [{
              "y": 0,
              "color": "#DEEBF7",
              "key": "blouse"
            },
            {
              "y": 0,
              "color": "#C6DBEF",
              "key": "dress"
            },
            {
              "y": 0,
              "color": "#9ECAE1",
              "key": "pants"
            },
            {
              "y": 0,
              "color": "#6BAED6",
              "key": "shirt"
            },
            {
              "y": 0,
              "color": "#4292C6",
              "key": "shorts"
            },
            {
              "y": 0,
              "color": "#2171B5",
              "key": "skirt"
            },
            {
              "y": 0,
              "color": "#08519C",
              "key": "t-shirt"
            }
          ];

          var total_likes = 0;
          var total_comments = 0;
      
          // Iterate through response JSON to populate chart data arrays
          $.each(result.color_info, function(i, item) {
            total_likes += item.likes_count;
            total_comments += item.comments_count;

            $.each(item.dress_items, function(i, dress_item) {
              // Populate color chart data
              agg_color_data.push(dress_item.chart_data[0]);
              agg_color_data.push(dress_item.chart_data[1]);
              agg_color_data.push(dress_item.chart_data[2]);
              // Populate silhouette chart data
              if (dress_item.dress_item == "blouse") {
                agg_dress_data[0].y += 1;
              } else if (dress_item.dress_item == "dress") {
                agg_dress_data[1].y += 1;
              } else if (dress_item.dress_item == "pants") {
                agg_dress_data[2].y += 1;
              } else if (dress_item.dress_item == "shirt") {
                agg_dress_data[3].y += 1;
              } else if (dress_item.dress_item == "shorts") {
                agg_dress_data[4].y += 1;
              } else if (dress_item.dress_item == "skirt") {
                agg_dress_data[5].y += 1;
              } else if (dress_item.dress_item == "t-shirt") {
                agg_dress_data[6].y += 1;
              }
            });
          });

          // Get sentiment data for sentiment donut chart
          var sentiment_data = result.agg_sentiment.chart_data;

          $("#likes-count").text(total_likes);
          $("#comments-count").text(total_comments);

          // Draw aggregated color and silhouette charts
          drawPieChart("", agg_color_data, "#agg-color-chart", 'percent');
          drawPieChart("", agg_dress_data, "#agg-dress-chart", 'key');

          // Draw aggregated sentiment chart if comments are available
          if (total_comments > 0) {
            drawPieChart("", sentiment_data, "#sentiment-chart", 'key');
          }

          // Number of columns in posts grid
          var col_count = 3;      
          // Create a Bootstrap grid with 3 columns, row per iteration of below loop.
          var grid_rows = Math.ceil(result.color_info.length / col_count);
          for (m = 0; m < grid_rows; m++) {      
            var grid_html = '<div class="container-fluid bg-3 text-center"><div class="row">';      
            var grid_cols = col_count;
            // Only create required number of divs in last grid row
            if ((m == grid_rows - 1) && (result.color_info.length % col_count != 0)) {
              grid_cols = result.color_info.length % col_count;
            }
            // Append grid columns
            for (n = 0; n < grid_cols; n++) {
              // Create unique IDs for every table that charts get attached to.
              var col_id = (m * col_count) + n + 1;
              grid_html += '<div class="col-sm-4">' +
                             '<div class="col-md-12" style="border: 1px solid #cccccc; /*background-color: #f2f2f2;*/ height:100%; padding:10px;">' +
                               '<table id="records_table' + col_id + '" border="0" style="width:100%;"></table>' +
                             '</div>' +
                           '</div>';
            }
            grid_html += '</div></div><br>';      
            $(grid_html).appendTo('main');
          }
      
          $.each(result.color_info, function(i, item) {
            // Create unique IDs for SVG tags handling 1 piece and 2 piece scenarios.
            // Ideally should loop through each dress item.
            var dress_item_1_id = item.dress_items[0].div.replace('#', '');
            if (typeof item.dress_items[1] === "undefined") {
              dress_item_2_id = "";
              //dress_item_2_id = item.dress_items[0].div.replace('#', '');
            } else {
              dress_item_2_id = item.dress_items[1].div.replace('#', '');
            }
      
            $('<tr>').append(
              $('<td>').append('<img src="../static/images/uploads/' + result.analysis_id + '/' + item.image + '" style="max-width: 280px;">'),
              $('<tr>').append(
                $('<td style="text-align: center;">').append('<span class="fa fa-heart" style="color: #FF6666;"></span> ' + item.likes_count + '&emsp;<span class="fa fa-comment" style="color: #999999;"></span> ' + item.comments_count)
              ),
              $('<tr>').append(
                $('<td>').append('<svg style="width: 180px;" id="' + dress_item_1_id + '" class="mypiechart"></svg>')
              ),
              $('<tr>').append(
                $('<td>').append('<svg style="width: 180px;" id="' + dress_item_2_id + '" class="mypiechart"></svg>')
              )
            ).appendTo('#records_table' + (i + 1) + '');
          });
      
          $.each(result.color_info, function(i, image) {
            // each function did not work
            for (j = 0; j < image.dress_items.length; j++) {
              dress_item = image.dress_items[j].dress_item;
              chart_data = image.dress_items[j].chart_data;
              div = image.dress_items[j].div;
              drawPieChart(dress_item, chart_data, div, 'percent');
            }
          });
          // Set image source, source value (URL for Instagram and no. of files for fashion
          // images) and posts count input values from respective JSON values.
          $("#image-source").val(result.source);
          $("#source-value").val(result.value);
          $("#posts-count").val(result.posts_count);

          // Draw word cloud with word frequencies
          var word_freq = JSON.parse(result.word_freq);
          $('#word-cloud').jQCloud(word_freq, {
            //width: 500,
            //height: 350,
            shape: 'rectangular',
            fontSize: {"from": 0.18, "to": 0.08}
          });
        });
      });            
    </script>
  </body>
</html>