<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use older version of Font Awesome for loading button -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css"/>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/css/tempusdominus-bootstrap-4.min.css" />
    <title>Fashion Insight</title>
    <style type="text/css">
      body, html {
        height: 100%;
        color: #FFF;
        background-color: #1a1a1a;
      }
      h1, h2, h3, h4, h5, h6 {
        font-family: 'Montserrat', sans-serif;
      }
      a, a:visited, a:active {
        color:inherit;
        text-decoration: none;
      }
      a:hover {
        color:inherit;
        text-decoration: none;
        font-weight: bold;
      }
      * {
        /*border-radius: 0 !important;*/
      }
      body {
        font-family: 'IBM Plex Sans', 'Helvetica Neue', Arial, sans-serif;
        /*color: #4d4d4d;*/
      }
      fieldset {
        border: 1px solid #ddd !important;
        margin: 0;
        xmin-width: 0;
        padding: 10px;
        position: relative;
      }  
      legend {
        font-size:14px;
        /*font-weight:bold;*/
        margin-bottom: 0px;
        width: 8%;
      }
      .btn-circle {
          width: 40px;
          height: 40px;
          padding: 6px 0px;
          border-radius: 50%;
          text-align: center;
          font-size: 14px;
          color: #FFFFFF;
          line-height: 1.42857;
      }
    </style>
  </head>
  <body>
    <!-- http://astronautweb.co/snippet/font-awesome/ -->
    <!-- <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><span class="oi oi-graph" style="display:inline-block;"></span>&ensp;Fashion Insight</a>
      <ul class="nav navbar-nav navbar-right">
        <li><span class="oi oi-person"></span></li>
      </ul>
    </nav> -->
    <!-- https://www.codeply.com/go/Rgq96HykJ2/sidebar-that-changes-to-navbar -->
    <div class="container-fluid h-100">
      <div class="row h-100">
        <aside class="col-12 col-md-2 p-0 bg-dark">
          <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
            <div class="collapse navbar-collapse">
              <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
                <li class="nav-item">
                  <a class="nav-link pl-0 text-nowrap" href="#"><i class="oi oi-graph"></i> <span class="font-weight-bold">Fashion Insight</span></a>
                </li>
                <br>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="{{url_for('main')}}"><i class="oi oi-plus"></i>&ensp;<span class="d-none d-md-inline">New analysis</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link pl-0" href="{{url_for('get_running')}}"><i class="oi oi-loop-circular"></i>&ensp;<span class="d-none d-md-inline">Running</span>&ensp;<span class="badge badge-light" id="running-count">0</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="{{url_for('get_completed')}}"><i class="oi oi-check"></i>&ensp;<span class="d-none d-md-inline">Completed</span>&ensp;<span class="badge badge-light" id="completed-count">0</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="#"><i class="oi oi-wrench"></i>&ensp;<span class="d-none d-md-inline">Settings</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link pl-0" href="#"><i class="oi oi-account-logout"></i>&ensp;<span class="d-none d-md-inline">Logout</span></a>
                </li>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <li class="nav-item" style="font-size: small; color: #999;">© 2018 ConscientAI Labs (Private) Limited</li>
              </ul>
            </div>
          </nav>
        </aside>
        <main class="col bg-faded py-3">
          <br>
          <h2>Analyses in progress</h2>
          <br>
          <!-- <form> -->
          <table class="table table-dark" id="running-analyses">
            <thead>
              <tr>
                <th scope="col" class="w-5">#</th>
                <th scope="col" class="w-25">ID</th>
                <!-- <th scope="col" class="w-45">Status</th> -->
                <th scope="col" class="w-45">Progress</th>
                <th scope="col" class="w-10">Added on</th>
                <th scope="col" class="w-15">Actions</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <!-- <footer class="footer" style="position: absolute; bottom: 0; background-color: #F00">
            <div class="container">
              <span class="text-muted"><small>© 2018 ConscientAI Labs</small></span>
            </div>
          </footer> -->
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.0-alpha14/js/tempusdominus-bootstrap-4.min.js"></script>
    <script>
      $(document).ready(function(){
        $.getJSON("../static/data/running_analyses.json", function(result) {
          // Update running analyses count in main navigation
          $('#running-count').text(result.length);
          // Update the running analyses table
          var html = '';
          for(var i = 0; i < result.length; i++)
            html += '<tr>' +
                      '<td>' + (i + 1) + '</td>' +
                      '<td>' + result[i].id +
                      '</td>' +
                      '<td>' +
                        '<div class="progress">' +
                          '<div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: ' + result[i].progress + '%;"></div>' +
                        '</div>' +
                      '</td>' +
                      '<td>' + result[i].timestamp + '</td>' +
                      '<td>' +
                        '<span class="oi oi-ban"></span>&ensp;&ensp;&ensp;' +
                        '<span class="oi oi-trash"></span>' +
                      '</td>' +
                    '</tr>';
          $('#running-analyses tr').first().after(html);
          // Add a new badge to most recent analysis on load
          $('#running-analyses tr:last td:nth-child(2)').append('&ensp;&ensp;<span id="new-badge" class="badge badge-light">New</span>');
          // Remove new badge after a given delay
          $("#new-badge").fadeOut(4000);
        });
        $.getJSON("../static/data/completed_analyses.json", function(result) {
          // Update completed analyses count in main navigation
          $('#completed-count').text(result.length);
        });
      });
    </script>
  </body>
</html>